*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
    font-size: 30px;
}
span{
    color: red;

}
a{
    margin: 0px 5px 0 5px ;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.text{
    margin: 15px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: green;
    height: 55px;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
                        
}

.card{
    display: inline-block;
    margin-left: 40px;
    
}

.menu2{
    margin: 20px 0px 15px 180px;

}

h4{
    font-family: 'DotGothic16', sans-serif;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-size: 35px;
}

footer{
    width: 100%;
    height: 160px;
    background-color: black;
    
}
ul{
    display: flex;
    flex-direction: column;
}
.copyright{
    color: white;
    
}